# GitHub token for elevated API rights
GH_TOKEN=

# Path to JSON file containing web page URLS to be downloaded/processed
# in the following form: { urls: [ "url1", "url2", ... ] }
URL_LIST_PATH=

# DEBUG set to 1 if you want to get debug info
DEBUG=1
